
body {
  margin: 0;
  padding: 0;
  font-family: 'Prata', serif;
  box-sizing: border-box;
}

.fulled-container {
  width: 1300px;
  margin: 0 auto;
}

.container {
  width: 1250px;
  margin: 0 auto;
}

.portfolio{
  position: relative;
  top: 0;
  left: -200px;
  color: #F2F2F2;
  font-family: "Prata", Sans-serif;
  font-size: 140px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 0;
}

.title {
  position: absolute;
  top: 60px;
  color: #252525;
  font-family: "Prata", Sans-serif;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 0;
}

.paragraph {
  position: relative;
  top: -40px;
  color: #8B8B8B;
  font-family: "Heebo", Sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.btn-wrap {
  margin: 100px 0;
  text-align: center;
  padding: 20px;
}

.btn {
  font-family: "Heebo", Sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #715C41;
  border-radius: 0px 0px 0px 0px;
  padding: 20px 40px 20px 40px;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: #70522b;
  
}

.block-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 0;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 381px;
}


.block {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-wrap .block:nth-child(1),
.block-wrap .block:nth-child(3),
.block-wrap .block:nth-child(8) {
  height: 253px;
}

.block-wrap .block:nth-child(1){
  background-image: url(../img/image1.jpg);
}

.block-wrap .block:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 571px;
  background-image: url(../img/image2.jpg);
}

.block-wrap .block:nth-child(3) {
  background-image: url(../img/image3.jpg);
}

.block-wrap .block:nth-child(4) {
  grid-column: 1/2;
  grid-row: 2/4;
  height: 571px;
  background-image: url(../img/image4.jpg);
}

.block-wrap .block:nth-child(5) {
  grid-column: 2/3;
  grid-row: 3/5;
  height: 571px;
  background-image: url(../img/image5.jpg);
}

.block-wrap .block:nth-child(6) {
  grid-column: 3/4;
  grid-row: 2/4;
  height: 571px;
  background-image: url(../img/image6.jpg);
}

.block-wrap .block:nth-child(7) {
  grid-column: 1/2;
  grid-row: 4/6;
  height: 571px;
  background-image: url(../img/image7.jpg);
}

.block-wrap .block:nth-child(8) {
  background-image: url(../img/image8.jpg);
}

.block-wrap .block:nth-child(9) {
  grid-column: 3/4;
  grid-row: 4/6;
  height: 571px;
  background-image: url(../img/image9.jpg);
}

.block-opacity {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  opacity: 0;
}

.block:hover .block-opacity {
  opacity: 0.7;
}

.block-items{
  position:relative;
  top: 50%;
  text-align: center;
  color: #fff;
  transition: all 0.5s ease-in-out;
  z-index: 10;
  opacity: 0;
}

.block:hover .block-items {
  top: 35%;
  opacity: 1;
  z-index: 20;
}

.block-title {
  font-size: 20px;
  font-weight: lighter;
  color: #fff;
}

.icons{
  margin-top: 10px;
}

.icons i{
  background-color: #715C41;
  margin: 10px;
  padding: 13px;
  border-radius: 50%;
}
